cloudscraper
async-lru
certifi
charset-normalizer
idna
mutagen
pyaes
pycryptodome
pyrogram
pyromod
PySocks
python-dotenv
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp[default,curl-cffi]
motor
aiohttp
aiofiles
pytz
umongo
speedtest-cli
pymongo
beautifulsoup4
bs4
Pillow
pytube
opencv-python-headless
uvloop
pyrogram==2.0.106
pymongo==4.5.0
aiohttp==3.9.1
requests==2.31.0
yt-dlp==2023.11.16
beautifulsoup4==4.12.2
Pillow==10.1.0
cloudscraper==1.2.71
pyromod==2.0.0
python-dotenv==1.0.0
